.spanRadio {
    @apply 
    absolute 
    w-4 
    h-4 
    transition-all 
    ease-linear 
    duration-150 
    border-2 
    border-solid 
    rounded-xl
    top-[35%]
    bg-transparent
    
}

.spanDisabledFalse {
    @apply border-gray-600
}
.spanDisabledTrue {
    @apply border-gray-200 cursor-default
}

.spanRadio_after {
    @apply 
    after:absolute 
    after:w-[8px]
    after:h-[8px]
    after:rotate-45 
    after:top-[2px]
    after:left-[2px] 
    after:rounded-lg
    after:content-['']
}

.spanRadio_after_DisabledTrue{
    @apply  after:bg-gray-200 cursor-default
}
.spanRadio_after_DisabledFalse{
    @apply  after:bg-gray-600 cursor-pointer
}

.spanRadio_label {
    @apply
    text-sm
    inline-block
    ml-5
    whitespace-nowrap 
}