.spanCheckbox {
    @apply 
    absolute 
    w-4 
    h-4 
    transition-all 
    ease-linear 
    duration-150 
    border-2 
    border-solid 
    border-gray-600 
    rounded 
    top-[35%]
    
}

.spanCheckbox_after {
    @apply 
    after:top-0 
    after:absolute 
    after:w-[5px]
    after:h-[10px]
    after:border-solid 
    after:border-white
    after:rotate-45 
    after:left-1 
    after:border-r-[2.5px] 
    after:border-b-[2.5px]
    after:rounded-sm 
    after:content-['']
}

.spanCheckbox_label {
    @apply
    text-sm
    inline-block
    ml-5
    whitespace-nowrap 
}